.popup__policy {
  display: flex;
  justify-content: flex-start;
}

.popup__policy-check {
  /* width: 20px; */
  width: 1.04166667vw;
  /* height: 20px; */
  height: 1.04166667vw;
  /* border-radius: 3px; */
  border-radius: 0.15625vw;
}

.popup__policy label {
  text-align: left;
  /* margin-left: 14px; */
  font-size: 0.72916667vw;
  margin-left: 0.72916667vw;
}

.popup__policy-color {
  color: red;
  text-decoration: none;

}

@media only screen and (max-width: 768px) {
  .popup__policy-check {
    width: 10px;
    height: 10px;
  }

  .popup__policy label {
    font-size: 2.5vw;
    margin-left: 8px;
  }
}
