.header__logo {
  margin-right: auto;
  display: flex;
}


.header__logo-link {
  margin-right: 1.19791667vw;
}

.header__logo img {
  width: 11.09375vw;
  height: 2.60416667vw;
}


@media only screen and (max-width: 768px) {
  .header__logo img {
    width: 28.75vw;
    height: auto;
  }
}
