.header__address {
  display: flex;
  margin-right: 3.66875vw;
  align-items:center;
}


.header__address img {
  flex-shrink: 0;
  width: 1.82291667vw;
  height: 1.82291667vw;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  -o-object-fit: cover;
  margin-right: 0.48125vw;
  -ms-flex-negative: 0;
}


.header__address p {
  margin: 0;
  font-weight: 400;
  font-size: 0.57291667vw;
  line-height: 1.6363;
}

@media only screen and (max-width: 768px) {
  .header__address {
    display: none !important;
  }
}
