.popup__tel {
  /* font-size: 14px; */
  font-size: 0.72916667vw;
  font-weight: 400;
  text-align: center;
}

.popup__tel-input {
  /* width: 363px; */
  width: 18.90625vw;
  /* height: 85px; */
  height: 4.42708333vw;
  /* border-radius: 73px; */
  border-radius: 3.80208333vw;
  text-align: center;
  margin: 0.625vw 0 0.625vw 0;
  border:none;
  padding:0;
}

.popup__tel-input::placeholder {
  font-size: 0.9375vw;
  line-height: 1.333em;
  color: #B0B0B1;
  vertical-align:middle !important;
  letter-spacing: 0.4em;
}
