.header__calc {
  display: flex;
  margin-right: 3.875vw;;
  align-items:center;
}

.header__calc img {
  flex-shrink: 0;
  width: 1.82291667vw;
  height: 1.82291667vw;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  -o-object-fit: cover;
  margin-right: 0.52083333vw;
  -ms-flex-negative: 0;
}

.header__calc p {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 0.57291667vw;
  line-height: 1.6363;
  letter-spacing: 0.06em;
}



.header__calc-text {
  display: block;
  position: relative;
  cursor: pointer;
}


.header__calc p:nth-child(1):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  border-bottom: 0.1041666667vw dotted #d91967;
  width: 110%;
  height: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.header__calc p:nth-child(2):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  border-bottom: 0.1041666667vw dotted #d91967;
  width: 80%;
  height: 0;
  -webkit-transition: .4s;
  transition: .4s;
}


.header__calc-text p:hover::after {
  width:50%;
}

@media only screen and (max-width: 768px) {
  .header__calc {
    display: none !important;
  }
}
