
.popup__call {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* min-width: 320px; */
  min-width: 16.666667vw;
  height: 100%;
  transition: opacity .3s, visibility 0s .3s ease-in-out;
  z-index: 5;
}

/* Убрать стрелки полей ввода */
.popup__call input::-webkit-outer-spin-button,
.popup__call input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media only screen and (max-width: 768px) {


}
