.header__button-menu {
  width: 4.375vw;
  height: 4.33333vw;
  /* width: 15px; */
  /* height: 13px; */
  background-image: url(../../../images/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10vw;
  /* margin-left: 32px; */
  display: none;
}


@media only screen and (max-width: 768px) {
  .header__button-menu {
    display: block !important;
  }
}
