.cover__title {
  font-weight: 400;
  color: white;
  font-size: 3.38541667vw;
  line-height: 1.46em;
  letter-spacing: 0.02em;
  padding-bottom: 2.34375vw;
  margin: 0;
}

.cover__title strong {
  font-weight: 700;
}


@media only screen and (max-width: 768px) {
  .cover__title {
    font-size: 6.25vw;
    line-height: 1.45em;
    padding-bottom: 8.75vw;
  }
}
