.cover__features {
  max-width: 79.375vw;
  min-height: 7.96875vw;
  display: flex;
  justify-content: flex-start;
  /* margin: 0 auto; */
  list-style: none;
  padding: 0 0 0 5.98958333vw;
  margin: 0;
}

.cover__features-mob {
  display: none;
}

@media only screen and (max-width: 768px) {
  .cover__features {
    display: none;
  }

  .cover__features-mob {
    max-width: 85vw;
    padding: 0;
    margin-top: 4.6875vw !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 5.3125vw;
    column-gap: 5.0625vw;
    margin: 0 auto;
    list-style:none;
  }
}

