.popup__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.958333vw;
  /* width: 364px; */
  /* height: 600px; */
  background-image: url(../../../images/form-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  font-family: 'Manrope', Arial, sans-serif;
  color: white;
  /* padding: 45px 68px 75px 68px; */
  padding: 2.34375vw 3.54166667vw 3.90625vw 3.54166667vw;
}

@media only screen and (max-width: 768px) {
  .popup__block {
    width:75vw;
    padding: 25px 37px 40px 37px;
  }
}
