.header__first {
  width: 85.5vw;
  margin: 0 7.2vw 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.195833vw 0 1.105833vw 0;
  border-bottom: 1px solid  rgb(42, 42, 42, 0.15);
}

@media only screen and (max-width: 768px) {
  .header__first {
    border-bottom: none;
  }
}
