.header__first {
  width: 85vw;
  margin: 0 7.13541667vw 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.145833vw 0 1.145833vw 0;
  border-bottom: 1px solid  #2A2A2A;
}

@media only screen and (max-width: 768px) {
  .header__first {
    border-bottom: none;
  }
}
