.popup__title {
  /* width: 282px; */
  /* font-size: 32px; */
  font-size: 1.6666667vw;
  line-height: 1.32em;
  font-weight: 500;
  /* padding-bottom: 16px; */
  padding-bottom: 0.833333vw;
  text-align: center;
}


@media only screen and (max-width: 768px) {
.popup__title {
  font-size: 5.5vw;
}

}
