.cover__button-calc {
  position:relative;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 15.1041667vw;
  /* max-height: 5.208333vw; */
  border-radius:26.0416667vw;
  background-color: red;
  padding: 1.30208333vw 2.86458333vw;
  margin-right: 1.1458333vw;
  align-items: center;
  color: white;
  overflow: hidden;
  text-decoration: none;
}

.cover__button-calc::after {
  content: "";
  width: 5.9895833333vw;
  height: 7.2916666667vw;
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url(../../../images/btn-blick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: btn_blick 5s linear infinite;
  animation: blick 5s linear infinite;
  -webkit-transition: .5s;
  transition: .5s;
}

.cover__button-calc:hover {
  background-color: rgb(110, 14, 14);
  -webkit-transition: .4s;
  transition: .4s;
}

.cover__button-calc:hover img {
  transform:rotate(45deg);
  -webkit-transition: .4s;
  transition: .4s;
}

.cover__button-calc p {
  color: white;
  width: 13.28125vw;
  font-size: 0.833333vw;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.cover__button-calc img {
  width: 1.1458333vw;
  height: 1.1458333vw;
  object-fit: cover;
}


.cover__button-whatsap {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 17.3958333vw;
  border-radius:26.0416667vw;
  background-color: rgba(0, 0, 0, 0.45);
  border: 1pt solid rgba(255, 255, 255, 0.45);
  padding: 1.71875vw;
  margin-right: 1.1458333vw;
  align-items: center;
  color: white;
  text-decoration: none;
}

.cover__button-whatsap:hover {
  background-color: rgb(0, 0, 0, 0.75);
  -webkit-transition: .4s;
  transition: .4s;
}

.cover__button-whatsap:hover img {
  transform:scale(1.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.cover__button-whatsap p {
  color: white;
  /* width: 13.28125vw; */
  font-size: 0.833333vw;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.cover__button-whatsap img {
  /* display: none; */
  width: 1.6666667vw;
  height: 1.6666667vw;
  object-fit: cover;
}


@keyframes blick {
  0% {
      left: -7.8125vw
  }

  to {
      left: calc(100% + 7.8125vw)
  }
}

@-webkit-keyframes blick {
  0% {
      left: -7.8125vw
  }

  to {
      left: calc(100% + 7.8125vw)
  }
}

@media only screen and (max-width: 768px) {
  .cover__button-calc {
    width: 55vw;
    justify-content: center;
    padding: 6.6666667vw 15.666667vw;
  }
  .cover__button-calc p {
    text-align: center;
    font-size: 3.3333vw;
    width: 100%;
  }


.cover__button-calc img {
  display: none;

}


.cover__button-whatsap {
  width: 80vw;
  justify-content: center;
  padding: 6.6666667vw 2vw;
  margin-top: 4.6875vw;
  border-radius:156.25vw;
  margin-bottom: 15.3125vw;
}

.cover__button-whatsap p {
  text-align: center;
  font-size: 3.3333vw;
  width: 100%;
}

.cover__button-whatsap img {
  display: none !important;
}

.cover__button-whatsap span {
  color: #20C863;
}


.cover__button-calc::after {
  width: 20.3125vw;
    height: 25vw;
}
}



