.cover__main {
  width: 52.65625vw;
  padding: 6.6666vw 0 6.45833vw 6.0526vw;
}


@media only screen and (max-width: 768px) {
  .cover__main {
    width: 85vw;
    padding: 29.6875vw 0 6.45833vw 0;
    margin: 0 auto;
  }
}
