.cover__feature {
  color: white;
  font-weight: 400;
  font-size: 0.88541667vw;
  line-height: 1.69em;
  border-right: 1pt solid rgba(255, 255, 255, 0.25);
  /* margin-right: 4.94791667vw; */
  /* padding-right: 4.94791667vw; */
  /* padding-right: 4.44791667vw; */
  box-sizing: border-box;

}

.cover__feature:nth-child(1) {
  /* width: 15.6770833vw; */
  width: 15.6770833vw;
}

.cover__feature:nth-child(2) {
  width: 21.4588vw;
  padding: 0 4.94791667vw 0 4.94791667vw;
}

.cover__feature:nth-child(3) {
  width: 17.5vw;
  /* padding-right: 3vw; */
  padding: 0 4.94791667vw 0 4.94791667vw;
}

.cover__feature:last-child {
  border-right: none;
  width: 25.2105263vw;
  padding-left: 4.94791667vw;
}

.cover__feature img {
  width: 0.8675vw;
  height: 0.5vw;
  margin-bottom: 0.66666vw;
  object-fit: cover;
}


@media only screen and (max-width: 768px) {
  .cover__feature {
    color: black;
    font-size: 3.125vw;
    line-height: 1.57em;
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }


  .cover__feature:nth-child(1) {
    width: 100%;
  }

  .cover__feature:nth-child(2) {
    width: 100%;
  }

  .cover__feature:nth-child(3) {
    width: 100%;
    padding: 0 4.94791667vw 0 0vw;
  }

  .cover__feature:last-child {
    width: 100%;
  }

  .cover__feature img {
    width: 4.125vw;
    height: auto;
    margin-bottom: 0.66666vw;
    object-fit: cover;
  }
}
