.popup__button {
  width: 363px;
  height: 85px;
  background-color:rgb(144, 41, 41);
  color: rgb(141, 141, 141);
  border-radius: 73px;
  text-align: center;
  margin: 12px 0 22px 0;
  border:none;
  padding:0;

}

.popup__button_active {
  color: white;
  background-color: red;
  cursor: pointer;
}

.popup__button-close {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-width: 0;
  background-color: transparent;
  position: absolute;
  top: 35px;
  right: 37px;
  cursor: pointer;
}
