.header__social {
  display: flex;
  margin-right: 3.3875vw;
  align-items:center;
}


.header__social p {
  font-weight: 400;
    font-size: 0.57291667vw;
    line-height: 1.6363;
    margin: 0 0.975vw 0 0;
    letter-spacing: 0.05em;
}

.header__social a {
  width: 1.82291667vw;
  height: 1.82291667vw;
  margin-right: 0.3125vw;
}

.header__social a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header__social a:last-child {
  margin-right: 0;
}


@media only screen and (max-width: 768px) {
  .header__social {
    display: none !important;
  }
}
